<div class="form-group">
    <div class="top">
    <h1>{{title}}</h1>
    </div>
    <div class="container">
      <form (ngSubmit)='submitQuote()' >
        <label for="">Add {{title}}</label>
        <input type="text" [(ngModel)]='newquote.author' class="form-control" placeholder="Enter author's name" name="author"  id="author"  #author='ngModel' value=""  required>
        <p>{{newquote.author}}</p>
        <label for="">Quote</label>
        <textarea name="name" [(ngModel)]='newquote.content' name="content" id="content" rows="5" class="form-control" cols="33" required></textarea>
        <label for="">Time</label>
        <input type="date" [(ngModel)]='newquote.time' #time='ngModel' name="time" id="time" class="form-control" name="" value="Date" required>
        <br>
        <button type="submit" class="btn btn-success">Add Quote</button>
      </form>
    </div>
  